<div class="container">
  <h1>Welcome to Shorty!</h1>
  <p>Please insert an URL into Shorty to get it shortified</p>

  <form action="/generate" method="POST">

    <input type="text" name="long_url" placeholder="e.g. http://www.devbootcamp.com/some/random/path/that_are_very_long.htm">
    <input type="submit" value="Generate short URL">

  </form>

  <p>The long URL for shorty:<%=@shorty.short_url%> is:</p>
  <p><a href = "<%=@shorty.long_url%>"><%=@shorty.long_url%></a></p>
</div>
